<div *ngIf="game && user" class="w-100 p-2" id="div-game">
  <app-user *ngIf="user.created.toMillis() === user.modified.toMillis()"></app-user>
  <div *ngIf="user.created.toMillis() !== user.modified.toMillis()">
    <!-- Waiting -->
    <div *ngIf="game.status === GameStatus.Waiting">
      <!-- Waiting Info -->
      <div *ngIf="readyUserCount !== game.players.length" class="alert alert-info" role="alert" [innerText]="languagePack[language]['waiting-for-players']"></div>
      <div *ngIf="readyUserCount === game.players.length" class="alert alert-success" role="alert" [innerText]="languagePack[language]['waiting-for-admin-to-start']"></div>
      <div *ngIf="game.name === GameName.Majority && game.players.length <= game.config.target" class="alert alert-danger" role="alert" [innerText]="languagePack[language]['player-not-enough']"></div>
      <!-- Game Description -->
      <h2 [innerText]="languagePack[language]['how-to-play']"></h2>
      <div class="d-flex justify-content-start mt-2" >
        <!-- Game: Countdown -->
        <p *ngIf="game.name === GameName.CountDown" [innerText]="languagePack[language]['countdown-desc-1'] + ' ' + game.config.target + ' ' + languagePack[language]['countdown-desc-2']"></p>
        <!-- Game: Majority -->
        <p *ngIf="game.name === GameName.Majority" [innerText]="languagePack[language]['majority-desc-1'] + ' ' + game.config.target + ' ' + languagePack[language]['majority-desc-2']"></p>
      </div>
      <!-- Players  -->
      <h2 class="mt-2" [innerText]="languagePack[language]['players'] + '   ' + readyUserCount +  '/' + game.players.length"></h2>
      <!-- Action Buttons  -->
      <div class="d-flex justify-content-between mt-2">
        <button class="btn btn-success" (click)="sendInvitation(game)">
          <i class="bi bi-share"></i>
          <span class="ms-2" [innerText]="languagePack[language]['send-invitation']"></span>
        </button>
        <button
          *ngIf="!isReady"
          class="btn btn-success"
          (click)="ready()"
        >
          <i class="bi bi-check-lg"></i>
          <span class="ms-2" [innerText]="languagePack[language]['ready']"></span>
        </button>
        <button
          *ngIf="isReady && game.adminId === user.id"
          class="btn btn-primary"
          (click)="start()"
          [disabled]="
            readyUserCount !== game.players.length
            || (game.name === GameName.Majority && game.players.length <= game.config.target)
          "
        >
          <i class="bi bi-play"></i>
          <span class="ms-2" [innerText]="languagePack[language]['start']"></span>
        </button>
      </div>
      <!-- Players -->
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 px-2 mt-2">
        <div
          *ngFor="let player of game.players"
          class="border border-2 p-2 rounded m-1 player align-items-center d-flex"
          [class.border-success]="player.ready"
        >
          <img alt="user-icon" class="rounded-circle user-icon" [src]="player.imgUrl">
          <span class="ms-2 text-truncate d-inline-block" [innerText]="player.id===user.id? languagePack[language]['you'] : player.name"></span>
        </div>
      </div>
    </div>
    <!-- Playing -->
    <div *ngIf="game.status === GameStatus.Playing">
      <!-- Game: Countdown -->
      <div *ngIf="game.name === GameName.CountDown">
        <!-- Countdown Number -->
        <div class="d-flex justify-content-center">
          <span
            class="count"
            [innerText]="count | number: '1.2-2'"
            [style.opacity] = "1 - count / (game.config.target * 0.2)"
            [class.opacity-0]="isLogged"
          ></span>
        </div>
        <!-- Game Description -->
        <div class="d-flex justify-content-center mt-2">
          <p [innerText]="languagePack[language]['countdown-desc-1'] + ' ' + game.config.target + ' ' + languagePack[language]['countdown-desc-2']"></p>
        </div>
        <!-- Log Result -->
        <div class="d-flex justify-content-center mt-2" *ngIf="!isLogged">
          <button class="btn btn-lg btn-primary" (click)="logPlayerResult()">
            <i class="bi bi-stopwatch"></i>
          </button>
        </div>
        <!-- Other Player Info -->
        <div
          *ngIf="isLogged"
          class="alert alert-info mt-2"
          role="alert"
          [innerText]="languagePack[language]['wait-for-other-player-done'] + ' (' + game.results.length + '/' + game.players.length + ')'"
        ></div>
      </div>
      <!-- Game: Majority -->
      <div *ngIf="game.name === GameName.Majority">
        <!-- Countdown Number -->
        <div class="d-flex justify-content-center">
          <h2 [innerText]="languagePack[language]['round-desc-1'] + game.round + languagePack[language]['round-desc-2']"></h2>
        </div>
        <div>
          <button class="btn btn-success">f</button>
        </div>
        <!-- Other Player Info -->
        <div
          *ngIf="isLogged"
          class="alert alert-info mt-2"
          role="alert"
          [innerText]="languagePack[language]['wait-for-other-player-done'] + ' (' + game.results.length + '/' + game.players.length + ')'"
        ></div>
      </div>
    </div>
    <!-- Finished -->
    <div *ngIf="game.status === GameStatus.Finished">
      <!-- Results -->
      <h2 [innerText]="languagePack[language]['results']" class="mt-2"></h2>
      <!-- Action Buttons  -->
      <div class="d-flex justify-content-between mt-2">
        <button
          *ngIf="game.adminId === user.id"
          class="btn btn-primary"
          (click)="restart()"
        >
          <i class="bi bi-arrow-clockwise"></i>
          <span class="ms-2" [innerText]="languagePack[language]['restart']"></span>
        </button>
      </div>
      <!-- Player Result -->
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 px-2 mt-2">
        <div
          *ngFor="let playerResult of game.results; let i = index"
          class="border border-2 p-2 rounded m-1 player d-flex justify-content-between align-items-center w-75"
          [class.border-success]="i===0"
        >
          <div class="d-flex justify-content-between align-items-center">
            <img alt="user-icon" class="rounded-circle user-icon" [src]="playerResult.player.imgUrl">
            <span class="ms-2 text-truncate d-inline-block" [innerText]="playerResult.player.id===user.id? languagePack[language]['you'] : playerResult.player.name"></span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span class="ms-2 d-inline-block" [innerText]="playerResult.value  | number: '1.2-2' "></span>
            <span
              class="ms-2 d-inline-block"
              *ngIf="playerResult.value"
              [class.text-success]="playerResult.value >= game.config.target"
              [class.text-danger]="playerResult.value < game.config.target"
              [innerText]="'(' + (playerResult.value >= game.config.target? '+' : '') + ((playerResult.value - game.config.target)  | number: '1.2-2')  + ')'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
