<div *ngIf="user" class="w-100 p-2" id="div-main">
  <app-user *ngIf="user.created.toMillis() === user.modified.toMillis()"></app-user>
  <div *ngIf="user.created.toMillis() !== user.modified.toMillis()">
    <!-- Playing History -->
    <div class="d-flex justify-content-between">
      <h2 [innerText]="languagePack[language]['history']"></h2>
      <a href="https://lin.ee/qMAlxRr">
        <img *ngIf="language === 'zh-TW'" alt="加入好友" height="36" src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png">
        <img *ngIf="language === 'en'" alt="加入好友" height="36" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png">
      </a>
    </div>
    <!-- Create New Game Buttons -->
    <div class="d-flex justify-content-between">
      <button
        class="btn btn-success"
        [routerLink]="['/', 'create-game']"
      >
        <i class="bi bi-plus-square"></i>
        <span
          class="ms-2"
          [innerText]="
            languagePack[language]['create']
            + languagePack[language]['space']
            + languagePack[language]['new']
            + languagePack[language]['space']
            + languagePack[language]['game']
          "
        ></span>
      </button>
    </div>
    <div class="row p-2">
      <div *ngFor="let game of games" class="border border-2 p-2" [routerLink]="['/game', game.id]">
        <div class="d-flex justify-content-between align-items-center">
          <h3 [innerText]="languagePack[language][game.name]"></h3>
          <span
            class="badge"
            [class.text-bg-primary]="game.status === GameStatus.Waiting"
            [class.text-bg-success]="game.status === GameStatus.Playing"
            [class.text-bg-info]="game.status === GameStatus.Calculating"
            [class.text-bg-secondary]="game.status === GameStatus.Finished"
            [innerText]="languagePack[language][game.status]">
          </span>
        </div>
        <span class="text-muted fs-6" [innerText]="game.modified.toDate().toLocaleString()"></span>
      </div>
    </div>
  </div>
</div>
